<%- include('header') -%>

<body>
  <div id="playlist">
    <ul>
      {{#playlist}}
        <li> {{url}} </li>
      {{/playlist}}
    </ul>
  </div>
  <div>
    <input type="text" placeholder="put your cool music here"
           id="songText"></input>
    <button id="sendButton"> Send </button>
  </div>
</body>

<%- include('footer') -%>
