<%- include('header') -%>

<body>
  <div id="playlistTemplate">
    <ul id="playlist">
      {{#playlist}}
        <a href='{{url}}'></a>
        <img src={{prev}} width=200 height=150> </img>
      {{/playlist}}
    </ul>
  </div>
  <div>
    <input type="text" placeholder="put your cool music here"
           id="songText"></input>
    <button id="sendButton"> Send </button>
  </div>
</body>

<%- include('footer') -%>
