<%- include('header') -%>

<body>
  <a target="_blank" href="/play"> Go to Play </a> <br>

  <div id="playlistTemplate">
    <div id="playlist">
      {{#playlist}}
      <div id="item">
        <h3 id="title">{{info.title}}</h3>
        <a href='{{url}}'></a>
        <img id="img" src={{prev}}> </img>
      </div>
      {{/playlist}}
    </div>
  </div>
  <div id="divInput">
    <input type="text" placeholder="put your cool music here"
           id="songText"></input>
    <button id="sendButton"> Send </button>
  </div>
</body>

<%- include('footer') -%>
