<%- include('header') -%>

<body>
  <div id="playlistTemplate">
    <ul id="playlist">
      {{#playlist}}
        <li> {{url}} </li>
      {{/playlist}}
    </ul>
  </div>
  
</body>

<%- include('footer') -%>
