<%- include('header') -%>

<script src="http://www.youtube.com/player_api"></script>
<script>

// create youtube player
var player;
window.data = [];

function onYouTubePlayerAPIReady(video) {
  player = new YT.Player('player', {
    height: '390',
    width: '640',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}

// autoplay video
function onPlayerReady(event) {
  if (player.getVideoData().video_id !== '') {
    event.target.playVideo();
  }
  window.socket.emit('query');
}

// when video ends
function onPlayerStateChange(event) {
  //console.log(event);
  if (event.data === 0) {
    if (window.data.length > 0) {
      player.loadVideoById(window.data.pop());
    }
  }
}

function parseAddress(address) {
  var arr = address.split('=');
  if (arr.length > 1) {
    return arr[1].split('&')[0];
  } else {
    return arr[0].split('&')[0];
  }
}

function send() {
  var id = document.getElementById("idVideo").value;

  if (player.getCurrentTime() === player.getDuration()
        && window.data.length === 0) {
    player.loadVideoById(parseAddress(id));
  } else {
    window.data.push(parseAddress(id));
  }
}

</script>
<body>
 <div id="player"></div>
 <br />
 <input type="text" id="idVideo">
 <button onclick="send()" > Agregar </button>
</body>
<%- include('footer') -%>
